*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: sans-serif; 
}
 


.backcolor {
    background-image: url(./img/jumbo.png);
    
    background-size: cover;
    
    display: flex;
    justify-content: center;
    flex-direction: column;    
}
 header{
    color: white;
 }
.header-box{   
    height: 3rem;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;   
}

.header-box-1{
    background-image: url(./img/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: calc((100% / 8) );    
    
}

.header-box-2{
    text-align: center;
    line-height: 40px;
    width: calc(100% / 3);    
    
    font-size: 28px;
}

.header-box-3{    
    width: calc((100% / 8) );    
    
}

.blueback{    
    min-height: 40rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 2rem; 
}

.pink-box{
    font-size: 35px;
    height: 25rem;
    width: 60rem;
    text-align: center;
   
    
}
.pink-box > button{
    border: none;    
    border-radius: 20px;
    font-size: 26px;
    padding: 9px;
    margin: 0.5px 5px;
}
h1, p {
    padding: 22px;
}
.open-b{
    background-color: #333;
    color: whitesmoke;

}
.login{
    border: none;
    background-color: whitesmoke;
    border-radius: 18px;
    font-size: 23px;
    padding: 7px;   
       
}
 /* MAIN CONTENT */
.back-white{
    background-color: whitesmoke;
    min-height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-grey{
    background-color: whitesmoke;
    min-height: 45rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;    
    justify-content: center;  
}

.blue-column{
    width: calc(100% / 2.5);
    height: 28rem;
    background-size: cover;    
}

.item-one{
    background-image: url(./img/item1.svg);
}

.item-two{
    background-image: url(./img/item2.svg);
}

.item-three{
    background-image: url(./img/item3.svg);
}

.pink-column{
    width: calc(100% / 5);
    max-height: 28rem;
    color: black;
    text-align: left;
    font-size: 25px;    
    padding-bottom: 10rem ;
}

.pink-column > p {
    font-size: 16px;
}

.back-green{
    
   
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;   
    min-height: 45rem;
    min-width: 80rem;
    margin: 5rem;
    text-align: center;
}
img {
    width: 90rem;
}

.back-green > div > h1 {
    font-size: 28px;
    background-image: url(./img/stars.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 3rem;   
}

.back-green > div > button{
    border: none;    
    border-radius: 20px;
    font-size: 26px;
    padding: 9px;
    margin: 0.5px 5px;
    background-color: hsl(236, 88%, 67%);
    color: white;
    font-size: 20px;
}

.black-back{
    background-color: black;
    min-height: 40rem;    
    display: flex;
    flex-direction: ;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
}

.salmon-column{
    background-color: salmon;
    height: 35rem;
    width: calc(100% / 7);
    align-self: center;
    border: 1px dashed white;
}

.azul-column{
    background-color: aqua;
    height: 35rem;
    width: calc(100% /11);
    align-self: center;
    border: 1px dashed white;
}
 

.black-back-logo{
    background-color: black;
    min-height: 7rem;    
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
}

.container-logo{
    background-color: aquamarine;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 51%;
    align-self: first baseline;
    margin: 2rem 0;
}
.logo{
    background-color: salmon;    
}

.button{
    background-color: salmon; 
}

hr {
    margin: 0;
    background-color: black;
    color: white;
}

 