*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
 

.backcolor {
    background-color: aqua;
    min-height: 55rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
     
     
}

.header-box{
   
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    
    
    
    
}


.header-box-1{
    background-color: yellow;
    width: calc((100% / 8) );
    
    border: 1px dashed black;
}

.header-box-2{
    background-color: yellow;
    width: calc(100% / 3);
    
    border: 1px dashed black;

}

.header-box-3{
    background-color: yellow;
    width: calc((100% / 8) );
    
    border: 1px dashed black;

}

.blueback{
    background-color: blue;
    min-height: 49rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 2rem; 
}

.pink-box{
    background-color: pink;
    height: 25rem;
    width: 50rem;
}

.back-white{
    background-color: whitesmoke;
    min-height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-grey{
    background-color: grey;
    min-height: 45rem;
    display: flex;
    align-items: center;    
    justify-content: center;  
}

.blue-column{
    width: calc(100% / 3);
    height: 28rem;
    background-color: lightskyblue;
    border: 1px dashed black;
}

.pink-column{
    width: calc(100% / 6);
    height: 28rem;
    background-color: pink;
    border: 1px dashed black;
}

.back-green{
    background-color: green;
    border: 1px dashed black;
    height: 45rem;
    width: 45rem;
    margin: 5rem;
}

.black-back{
    background-color: black;
    min-height: 40rem;    
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
}

.salmon-column{
    background-color: salmon;
    height: 35rem;
    width: calc(100% / 7);
    align-self: center;
    border: 1px dashed white;
}

.azul-column{
    background-color: aqua;
    height: 35rem;
    width: calc(100% /11);
    align-self: center;
    border: 1px dashed white;
}
 

.black-back-logo{
    background-color: black;
    min-height: 7rem;    
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
}

.container-logo{
    background-color: aquamarine;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 51%;
    align-self: first baseline;
    margin: 2rem 0;
}
.logo{
    background-color: salmon;
    
 }

 .button{
    background-color: salmon;
    
    
 }

 hr {
    margin: 0;
    background-color: black;
    color: white;
 }

 