*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backcolor {
    background-color: aqua;
    min-height: 45rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
     
     
}

.header-box{
   
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    
    
    
    
}


.header-box-1{
    background-color: yellow;
    width: calc((100% / 8) );
    
    border: 1px dashed black;
}

.header-box-2{
    background-color: yellow;
    width: calc(100% / 3);
    
    border: 1px dashed black;

}

.header-box-3{
    background-color: yellow;
    width: calc((100% / 8) );
    
    border: 1px dashed black;

}

.blueback{
    background-color: blue;
    min-height: 39rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 2rem; 
    
    
}

.pink-box{
    background-color: pink;
    height: 21rem;
    width: 50rem;
}